.footer {
  display: flex;
  background-color: #5d193b;
  margin-top: 1rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.footer-column {
  flex-basis: 30%;
  text-align: center;
  padding: 1rem;
}

.footer h2 {
  font-size: 1.5rem;
}

.footer p {
  font-size: 14px;
  font-weight: 300;
}

.app-download-links a > img {
  height: 2rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Add responsive styles below */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    flex-basis: 100%;
  }
}
