*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  margin: 0;
  padding: 0;
  background-color: rgba(40, 52, 62, 0.07);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 70%;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  html {
    font-size: 80%;
  }
}
