.productList {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.productCard {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s; /* Animation */
  cursor: pointer;
}
.productCard > .productCardInner {
  display: flex;
  flex-direction: column;
}
.productCard:hover {
  transform: scale(1.1);
}

.seeallproduct {
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.seeallproduct:hover {
  color: rgb(115, 115, 232);
}

.pagination {
  display: flex;
  justify-content: center;
}

/* Style the active page item */
.page-item.pageItemActive {
  background-color: green; /* Set the background color to green */
  border-color: green; /* Set the border color to green */
  color: white; /* Set the text color to white */
}

/* Style the active page link within the active item */
.page-item.pageItemActive .page-link.pageLinkActive {
  color: white; /* Set the text color to white */
  background: green;
}

.profileimg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.imageSize {
  min-height: 30rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.productNF {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.productNF span {
  color: red;
  font-weight: bold;
}
