/* Default styles for larger screens */
.confirmorder {
  min-height: 100vh;
}

.orderData {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 4rem;
  min-height: 100%;
}

.shipinfo {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leftdata {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}

.lefttop,
.leftbottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leftdata > div > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.rightdata {
  border-left: 1px solid #e3e3e3;
}

.twoitwm {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.innerist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightList {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.totalamount > h5 {
  font-weight: 400;
}

.rightdata {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  gap: 1rem;
}

.calcu {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.calperent {
  border-top: 2px solid #8fb3ff;
  border-bottom: 2px solid #8fb3ff;
  width: 100%;
}

.orderIdPer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: "5px solid red";
  display: flex;
}
.orderIdPer > h1 {
  border-bottom: 3px solid tomato;
  color: tomato;
}

.rightList {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .orderData {
    grid-template-columns: 100%; /* Single column layout for smaller screens */
    padding: 0 2rem;
  }

  .leftdata {
    padding: 2rem;
  }

  .rightdata {
    border-left: none;
    padding: 2rem;
  }
}

.updateStatus {
  display: flex;
  width: 30rem;
}
/* Add more media queries as needed for different screen sizes */
