.productfilter {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 0.8rem;
}

.catagery {
  display: flex;
  flex-direction: column;
}

.filterBtn {
  cursor: pointer;
  font-size: 1.2rem;
}

.filterBtn:hover {
  color: #1e7e36;
}
